<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading ">Render</div>
        <div class="panel-body">
            <div class="photoDetails">
                <div class="photoDescription">
                    <h4 style="margin-top: 0px;">Look at <span>{{title}}</span></h4>
                </div>
                <p>{{desc}}</p>
                <div class="photoRender">
                    <img data-src="images/{{src}}">
                </div>
                <div class="photoClicks">
                    <h4 style="margin-bottom: 0;">Total clicked: {{clicks}} times</h4>
                </div>
            </div>
        </div>
    </div>
</div>
