<div class="panel panel-default">
    <div class="panel-heading ">Editor</div>
    <div class="panel-body">
        <p><button class="btn btn-success" id="editUpdate">Update Data</button></p>
        <div class="wrapper">

            <div class="input-group input-group" style="margin-top: 10px;">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" placeholder="Username" id="editName" value="{{title}}">
            </div>

            <div class="input-group input-group" style="margin-top: 10px;">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" placeholder="Description" id="editDesc" value="{{desc}}">
            </div>

            <div class="input-group input-group" style="margin-top: 10px;">
                <span class="input-group-addon">Total Clicks</span>
                <input type="text" class="form-control" placeholder="0" id="editClicks" value="{{clicks}}">
            </div>
        </div>
    </div>
</div>

