
    <div class="panel panel-default">
        <div class="panel-heading ">Gallery</div>
        <div class="panel-body">
            <ul class="photosList nav nav-pills nav-stacked">
            </ul>
        </div>
    </div>
