<div class="panel panel-default">
    <div class="panel-heading ">Gallery</div>
    <div class="panel-body">
        <ul class="photosList nav nav-pills nav-stacked">
        {#imageList}
            <li>
                <a href="{src}" data-src="{src}" data-id="{item_id}">{title}</a>
                <span class="desc" style="display: none;">{desc}</span>
            </li>
        {/imageList}
        </ul>
    </div>
</div>

